<events>
    <event id="0" name="SPI_Busy" severity="WARNING_HI"
           format_string="SPI transaction requested while busy">
    </event>
    <event id="1" name="SPI_ChipSelectInvalid" severity="WARNING_HI"
           format_string="SPI transaction has invalid chip select">
    </event>
    <event id="2" name="SPI_SizeMismatch" severity="WARNING_HI"
           format_string="SPI transaction has differing buffer sizes read=%d, write=%d">
        <args>
            <arg name="readSize" type="U32">
                <comment>Length of read buffer</comment>
            </arg>
            <arg name="writeSize" type="U32">
                <comment>Length of Write Buffer</comment>
            </arg>
        </args>
    </event>
    <event id="3" name="SPI_PollingFailed" severity="WARNING_HI"
           format_string="SPI transaction failed to poll">
    </event>
    <event id="4" name="SPI_DmaFailed" severity="WARNING_HI"
           format_string="SPI transaction failed set up DMA">
    </event>
    <event id="5" name="SPI_DmaInvalidBuffer" severity="WARNING_HI"
           format_string="SPI transaction misaligned buffers read=%p write=%p">
        <args>
            <arg name="readAddress" type="U32">
                <comment>The read address</comment>
            </arg>
            <arg name="writeAddress" type="U32">
                <comment>The write address</comment>
            </arg>
        </args>
    </event>
</events>
