<events>
    <event id="0" name="CaptureFailed" severity="WARNING_LO" throttle="10"
           format_string="Camera capture failed, dropping frame">
    </event>
    <event id="1" name="ImageSaving" severity="ACTIVITY_LO"
           format_string="Saving image to file %s">
        <args>
            <arg name="destination" type="string" size="80" />
        </args>
    </event>
    <event id="2" name="CameraStarting" severity="ACTIVITY_LO"
           format_string="Camera is starting"/>
    <event id="3" name="CameraStopping" severity="ACTIVITY_LO"
           format_string="Camera is stopping"/>
    <event id="4" name="CameraConfiguring" severity="ACTIVITY_LO"
           format_string="Configuration sending to camera"/>

    <event id="5" name="CameraStreamStarting" severity="ACTIVITY_LO"
           format_string="Camera is now streaming to %s">
        <args>
            <arg name="port_number" type="Rpi::CamListener"/>
        </args>
    </event>
    <event id="6" name="CameraStreamStopping" severity="ACTIVITY_LO"
           format_string="Camera stopped streaming to %s">
        <args>
            <arg name="port_number" type="Rpi::CamListener"/>
        </args>
    </event>
</events>
