<events>
    <event id="0" name="CaptureFailed" severity="WARNING_LO" throttle="10"
           format_string="Camera capture failed, dropping frame">
    </event>
    <event id="1" name="ImageSaving" severity="ACTIVITY_LO"
           format_string="Saving image to file %s">
        <args>
            <arg name="destination" type="string" size="80" />
        </args>
    </event>
    <event id="2" name="CameraManagerStartFailed" severity="WARNING_HI"
           format_string="Failed to start camera manager">
    </event>
    <event id="3" name="CameraNotFound" severity="WARNING_HI"
           format_string="Camera %s not found">
        <args>
            <arg name="id" type="string" size="32"/>
        </args>
    </event>
    <event id="4" name="CameraAcquireFailed" severity="WARNING_HI"
           format_string="Failed to acquire camera %s">
        <args>
            <arg name="id" type="string" size="32"/>
        </args>
    </event>
    <event id="5" name="CameraConfigValid" severity="ACTIVITY_LO"
           format_string="Camera configuration valid">
    </event>
    <event id="6" name="CameraConfigAdjusted" severity="ACTIVITY_LO"
           format_string="Camera configuration adjusted">
    </event>
    <event id="7" name="CameraConfigInvalid" severity="WARNING_HI"
           format_string="Camera configuration invalid">
    </event>
    <event id="8" name="CameraConfigFailed" severity="WARNING_HI"
           format_string="Failed to configure camera">
    </event>
    <event id="9" name="CameraAllocateFailed" severity="WARNING_HI"
           format_string="Failed to allocate buffers">
    </event>
    <event id="10" name="CameraRequestFailed" severity="WARNING_HI"
           format_string="Failed create camera request">
    </event>
    <event id="11" name="CameraBufferSetFailed" severity="WARNING_HI"
           format_string="Failed to set buffer for request">
    </event>
    <event id="12" name="CameraCaptureStartFailed" severity="WARNING_HI"
           format_string="Failed to start capture">
    </event>
    <event id="13" name="CameraQueueFailed" severity="WARNING_HI"
           format_string="Failed to queue request">
    </event>
    <event id="14" name="CameraStopFailed" severity="WARNING_HI"
           format_string="Failed to stop camera">
    </event>
</events>
