<events>
    <event id="0" name="VisStreaming" severity="ACTIVITY_LO"
           format_string="Vision is now streaming to %s">
        <args>
            <arg name="port_number" type="Rpi::VisListener"/>
        </args>
    </event>
    <event id="1" name="VisStopping" severity="ACTIVITY_LO"
           format_string="Vision stopped streaming to %s">
        <args>
            <arg name="port_number" type="Rpi::VisListener"/>
        </args>
    </event>
    <event id="2" name="VisCleared" severity="ACTIVITY_LO"
           format_string="Vision pipeline has been cleared">
    </event>
    <event id="3" name="VisPipe" severity="ACTIVITY_LO"
           format_string="Added %s to vision pipeline">
        <args>
            <arg name="pipe" type="Rpi::VisPipe"/>
        </args>
    </event>
    <event id="4" name="VisRecord" severity="ACTIVITY_LO"
           format_string="Vis recording starting for DP %s">
        <args>
            <arg name="filename" type="string" size="80"/>
        </args>
    </event>
    <event id="5" name="VisAlreadyRecording" severity="WARNING_LO"
           format_string="Vis is already recording a vision data product">
    </event>
    <event id="6" name="VisRecordFinished" severity="ACTIVITY_LO"
           format_string="Vis recording finished for DP %s">
        <args>
            <arg name="filename" type="string" size="80"/>
        </args>
    </event>
    <event id="7" name="VisRecordWriteFailed" severity="WARNING_LO"
           format_string="Failed to write Vis DP %s error=%d">
        <args>
            <arg name="filename" type="string" size="80"/>
            <arg name="error" type="U32"/>
        </args>
    </event>
    <event id="8" name="VisRecordWritten" severity="ACTIVITY_LO"
           format_string="Wrote Vis DP %s">
        <args>
            <arg name="filename" type="string" size="80"/>
        </args>
    </event>
</events>
